node_modules
cypress/videos
cypress/screenshots
cypress/reports
cypress/downloads
cypress/.DS_Store
new-report
.vscode
.DS_Store
runner-results
multi-reporter-config.json



# test documents 
cypress/integration/test.feature
cypress/support/step_definitions/businessKeywords/test.js
cypress/fixtures/constant/advertId.text
exampl-pipeline.yml